body {
  margin: 30px;
  background-color: white;
}
p {
  margin: 0px;
}
header {
  text-align: center;
}
.title {
  margin-left: 0px;
  font-size: 24px;
}
.main_title {
  font-size: 34px;
  margin-bottom: 15px;
}
.second_title {
  font-size: 30px;
  margin-bottom: 15px;
}
.card {
  border: 0px solid black;
  margin: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
